NEXT_PUBLIC_SANITY_PROJECT_ID=hcxqlh4h
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-09-01
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
DEFAULT_BRAND=clearview
NEXT_PUBLIC_SITE_ENV=development
